// Кнопки
@mixin button($width: 30%, $height: 50px) {
  display: table-cell;
  vertical-align: middle;
  width: $width;
  height: $height;
  max-width: 100%;
  text-align: center;
  background-color: #222;
  color: #9d9d9d;
  border: none;
  border-radius: 4px;

  &:hover, &:active, &:focus {
    text-decoration: none;
    color: #fff;
  }
}