.b-count-input__inner_center {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

// Кнопки
.b-count-input__button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.b-count-input__button {
  @include button();
  line-height: 50px;
  margin-bottom: 20px;

  &_success {
    background-color: #5cb85c;
    color: #fff;

    &:hover, &:active {
      background-color: #449d44;
    }
    &:active {
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
  }
  &_danger {
    background-color: #d9534f;
    color: #fff;

    &:hover, &:active {
      background-color: #c9302c;
    }
    &:active {
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
  }
}