.full-height {
  height: 100%;
  min-height: 0; }

.overflow-auto {
  overflow: auto; }

.overflow-hidden {
  overflow: hidden; }

.b-touch-buttons__btn-wrap {
  margin-bottom: 20px; }

.b-touch-button {
  display: table-cell;
  vertical-align: middle;
  width: 230px;
  height: 100px;
  max-width: 100%;
  text-align: center;
  background-color: #222;
  color: #9d9d9d;
  border: none;
  border-radius: 4px;
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px; }
  .b-touch-button:hover, .b-touch-button:active, .b-touch-button:focus {
    text-decoration: none;
    color: #fff; }

.b-complete-mark {
  font-size: 16px; }

.wrap > .container-fluid_full-height {
  padding-bottom: 0; }

.list-group-item_new-order-position {
  line-height: 30px; }

.b-order {
  font-size: 14px; }

.b-order_big {
  font-size: 16px; }

.b-order__label,
.b-order__time,
.b-order__complete-mark {
  vertical-align: middle; }

.b-orders-column {
  padding-top: 69px; }

.b-positions-list__position_info {
  border-color: #337ab7; }

.b-btn-toolbar {
  margin-bottom: 15px; }

.b-breadcrumbs {
  margin-top: 15px; }

.text-white {
  color: #fff; }

.b-count-input__inner_center {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto; }

.b-count-input__button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.b-count-input__button {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  height: 50px;
  max-width: 100%;
  text-align: center;
  background-color: #222;
  color: #9d9d9d;
  border: none;
  border-radius: 4px;
  line-height: 50px;
  margin-bottom: 20px; }
  .b-count-input__button:hover, .b-count-input__button:active, .b-count-input__button:focus {
    text-decoration: none;
    color: #fff; }
  .b-count-input__button_success {
    background-color: #5cb85c;
    color: #fff; }
    .b-count-input__button_success:hover, .b-count-input__button_success:active {
      background-color: #449d44; }
    .b-count-input__button_success:active {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .b-count-input__button_danger {
    background-color: #d9534f;
    color: #fff; }
    .b-count-input__button_danger:hover, .b-count-input__button_danger:active {
      background-color: #c9302c; }
    .b-count-input__button_danger:active {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

/*# sourceMappingURL=custom.css.map */
