// Контейнеры
.wrap > .container-fluid_full-height {
  padding-bottom: 0;
}

// Создаваемый заказ
.list-group-item_new-order-position {
  line-height: 30px;
}

// Заказ из списка
.b-order {
  font-size: 14px;
}
.b-order_big {
  font-size: 16px;
}
.b-order__label,
.b-order__time,
.b-order__complete-mark {
  vertical-align: middle;
}

// Списки заказов
.b-orders-column {
  padding-top: 69px;
}
.b-positions-list__position_info {
  border-color: #337ab7;
}

// Кнопки
.b-btn-toolbar {
  margin-bottom: 15px;
}

// Крошки :)
.b-breadcrumbs {
  margin-top: 15px;
}

// Хелперы
.text-white {
  color: #fff;
}