.b-touch-buttons {
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: space-between;
}
.b-touch-buttons__btn-wrap {
  margin-bottom: 20px;
}

.b-touch-button {
  @include button(230px, 100px);
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px;
}

.b-complete-mark {
  font-size: 16px;
}